workflows/2_understand_line_webhook.json
{
  "name": "LINE Webhook Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "line"
      },
      "type": "n8n-nodes-line-messaging-api.LineWebhook",
      "typeVersion": 1,
      "position": [
        176,
        224
      ],
      "id": "fc6441f4-5f6b-4310-a16b-20f28ff0e6db",
      "name": "LineWebhook",
      "webhookId": "561f877b-f71c-4ec4-967a-a4136b63cbf6",
      "credentials": {
        "LineMessagingAPIAuth": {
          "id": "decgjIS19teJyh7O",
          "name": "LINE Messaging Auth account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "replyToken": "={{ $('LineWebhook').item.json.rawEvent.replyToken }}"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessagingAPI",
      "typeVersion": 1,
      "position": [
        1840,
        368
      ],
      "id": "376d8257-069b-43ea-83f1-c03ae3da5152",
      "name": "LineMessaging",
      "credentials": {
        "LineMessagingAPIAuth": {
          "id": "decgjIS19teJyh7O",
          "name": "LINE Messaging Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "# LINE Messaging API Webhook\n\nLINE Webhook คือทางเชื่อมที่ LINE ใช้ส่ง Events มาบอก Bot ของเราทันทีเมื่อมีคนทำอะไรกับ Bot เช่น ส่งข้อความ ส่งรูปภาพ วิดีโอ",
        "height": 1088,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "8f0da355-7e23-45cc-b1ff-0daea004e295",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Transform Flow ",
        "height": 1088,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        0
      ],
      "typeVersion": 1,
      "id": "a9168cef-72a8-44ae-b890-12812aac03b8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Response\nBuild LINE Messaging Response คือ ข้อความที่เราตอบกลับผู้ใช้ AI Chatbot ของเรา\n\n",
        "height": 1088,
        "width": 896,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        0
      ],
      "typeVersion": 1,
      "id": "9d461292-88ce-48fa-bfae-bf0af16fe15e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rawEvent.message.text }}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "38079df7-f1cc-4b1a-b0d9-1af24ca28f1c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text=menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "779478a8-a557-4cf8-8667-d2fb794358a7",
                    "leftValue": "={{ $json.rawEvent.message.text }}",
                    "rightValue": "map",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text=map"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "adf4e0b6-7a11-42f1-999d-9c3c6559cfb1",
                    "leftValue": "={{ $json.rawEvent.message.text }}",
                    "rightValue": "ติดต่อด่วน",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text=ติดต่อด่วน"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        848,
        160
      ],
      "id": "f4a746f0-cb9d-4f40-8f31-645b5ae01635",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "image",
        "originalContentUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9SRRmhH4X5N2e4QalcoxVbzYsD44C-sQv-w&s",
        "previewImageUrl": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9SRRmhH4X5N2e4QalcoxVbzYsD44C-sQv-w&s"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessageBuilder",
      "typeVersion": 1,
      "position": [
        1424,
        752
      ],
      "id": "c6aa2ccc-c991-4c44-8099-922e276efb83",
      "name": "Build Image Message"
    },
    {
      "parameters": {
        "operation": "sticker",
        "packageId": "446",
        "stickerId": "1988"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessageBuilder",
      "typeVersion": 1,
      "position": [
        1424,
        608
      ],
      "id": "946424f9-054c-4e86-9ee4-3a945567ffac",
      "name": "Build Sticker Image"
    },
    {
      "parameters": {
        "text": "Thank you for sending Message to me"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessageBuilder",
      "typeVersion": 1,
      "position": [
        1424,
        432
      ],
      "id": "6917101d-636b-415d-b2d5-613295b5ce38",
      "name": "Build Text Message"
    },
    {
      "parameters": {
        "operation": "location",
        "title": "ร้านป้าติ๋ม",
        "address": "ร้านป้าติ๋ม ข้างมอ",
        "latitude": 16.7480589,
        "longitude": 100.1918917
      },
      "type": "n8n-nodes-line-messaging-api.LineMessageBuilder",
      "typeVersion": 1,
      "position": [
        1424,
        912
      ],
      "id": "5b8be270-7220-463a-928d-a1c39560c388",
      "name": "Build Location Message"
    },
    {
      "parameters": {
        "operation": "flex",
        "altText": "Menu",
        "contents": "{\n  \"type\": \"bubble\",\n  \"header\": {\n    \"type\": \"box\",\n    \"layout\": \"horizontal\",\n    \"contents\": [\n      {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Gemini's Kitchen\",\n            \"color\": \"#ffffff\",\n            \"size\": \"xl\",\n            \"weight\": \"bold\",\n            \"style\": \"normal\",\n            \"decoration\": \"none\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"เมนูอร่อย ส่งตรงถึงบ้านคุณ\",\n            \"color\": \"#ffffffcc\",\n            \"size\": \"sm\"\n          }\n        ],\n        \"flex\": 3\n      },\n      {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"contents\": [\n          {\n            \"type\": \"image\",\n            \"url\": \"https://images.icon-icons.com/1151/PNG/512/1486505264-food-fork-kitchen-knife-meanns-restaurant_81404.png\",\n            \"align\": \"end\",\n            \"size\": \"xs\",\n            \"aspectRatio\": \"1:1\"\n          }\n        ]\n      }\n    ],\n    \"paddingAll\": \"20px\",\n    \"background\": {\n      \"type\": \"linearGradient\",\n      \"angle\": \"0deg\",\n      \"endColor\": \"#005c97\",\n      \"startColor\": \"#363795\"\n    },\n    \"alignItems\": \"center\"\n  },\n  \"body\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"contents\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"เมนูแนะนำวันนี้\",\n        \"weight\": \"bold\",\n        \"size\": \"lg\"\n      },\n      {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"margin\": \"lg\",\n        \"spacing\": \"md\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"lg\",\n            \"contents\": [\n              {\n                \"type\": \"image\",\n                \"url\": \"https://www.maggi.co.th/sites/default/files/styles/home_stage_1500_700/public/srh_recipes/6b0473cc1841f2157e29700a56a5b8f0.jpg?h=e13068ac&itok=rBSnUiHj\",\n                \"aspectMode\": \"cover\",\n                \"aspectRatio\": \"16:9\",\n                \"size\": \"xxl\",\n                \"flex\": 2\n              },\n              {\n                \"type\": \"box\",\n                \"layout\": \"vertical\",\n                \"contents\": [\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"ข้าวกะเพราหมูสับ\",\n                    \"weight\": \"bold\",\n                    \"size\": \"md\"\n                  },\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"฿60\",\n                    \"size\": \"sm\",\n                    \"color\": \"#888888\",\n                    \"margin\": \"sm\"\n                  }\n                ],\n                \"flex\": 3\n              }\n            ]\n          },\n          {\n            \"type\": \"separator\"\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"lg\",\n            \"contents\": [\n              {\n                \"type\": \"image\",\n                \"url\": \"https://www.maggi.co.th/sites/default/files/styles/home_stage_1500_700/public/srh_recipes/6b0473cc1841f2157e29700a56a5b8f0.jpg?h=e13068ac&itok=rBSnUiHj\",\n                \"aspectMode\": \"cover\",\n                \"aspectRatio\": \"16:9\",\n                \"size\": \"xxl\",\n                \"flex\": 2\n              },\n              {\n                \"type\": \"box\",\n                \"layout\": \"vertical\",\n                \"contents\": [\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"ข้าวกะเพราหมูสับ\",\n                    \"weight\": \"bold\",\n                    \"size\": \"md\"\n                  },\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"฿60\",\n                    \"size\": \"sm\",\n                    \"color\": \"#888888\",\n                    \"margin\": \"sm\"\n                  }\n                ],\n                \"flex\": 3\n              }\n            ]\n          },\n          {\n            \"type\": \"separator\"\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"lg\",\n            \"contents\": [\n              {\n                \"type\": \"image\",\n                \"url\": \"https://www.maggi.co.th/sites/default/files/styles/home_stage_1500_700/public/srh_recipes/6b0473cc1841f2157e29700a56a5b8f0.jpg?h=e13068ac&itok=rBSnUiHj\",\n                \"aspectMode\": \"cover\",\n                \"aspectRatio\": \"16:9\",\n                \"size\": \"xxl\",\n                \"flex\": 2\n              },\n              {\n                \"type\": \"box\",\n                \"layout\": \"vertical\",\n                \"contents\": [\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"ข้าวกะเพราหมูสับ\",\n                    \"weight\": \"bold\",\n                    \"size\": \"md\"\n                  },\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"฿60\",\n                    \"size\": \"sm\",\n                    \"color\": \"#888888\",\n                    \"margin\": \"sm\"\n                  }\n                ],\n                \"flex\": 3\n              }\n            ]\n          }\n        ]\n      }\n    ],\n    \"paddingAll\": \"xl\"\n  },\n  \"footer\": {\n    \"type\": \"box\",\n    \"layout\": \"horizontal\",\n    \"spacing\": \"sm\",\n    \"contents\": [\n      {\n        \"type\": \"button\",\n        \"style\": \"secondary\",\n        \"height\": \"sm\",\n        \"action\": {\n          \"type\": \"uri\",\n          \"label\": \"ดูเมนูทั้งหมด\",\n          \"uri\": \"https://example.com/full-menu\"\n        }\n      },\n      {\n        \"type\": \"button\",\n        \"style\": \"primary\",\n        \"height\": \"sm\",\n        \"action\": {\n          \"type\": \"uri\",\n          \"label\": \"สั่งเลย!\",\n          \"uri\": \"https://example.com/order\"\n        },\n        \"color\": \"#363795\"\n      }\n    ],\n    \"paddingAll\": \"xl\"\n  },\n  \"styles\": {\n    \"footer\": {\n      \"separator\": true\n    }\n  }\n}"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessageBuilder",
      "typeVersion": 1,
      "position": [
        1424,
        112
      ],
      "id": "80ac9dc6-ec2b-448c-a022-3936a46c0762",
      "name": "Build Flex Message Menu"
    },
    {
      "parameters": {
        "text": "Please call me 097-977-9999"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessageBuilder",
      "typeVersion": 1,
      "position": [
        1424,
        272
      ],
      "id": "6b72053b-2d4b-4d01-8a5b-b70cfda922ff",
      "name": "Build Text Message -2"
    }
  ],
  "pinData": {},
  "connections": {
    "LineWebhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Build Sticker Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Image Message",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Build Location Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Build Flex Message Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Location Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Text Message -2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Message": {
      "main": [
        [
          {
            "node": "LineMessaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sticker Image": {
      "main": [
        [
          {
            "node": "LineMessaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Text Message": {
      "main": [
        [
          {
            "node": "LineMessaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Location Message": {
      "main": [
        [
          {
            "node": "LineMessaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Flex Message Menu": {
      "main": [
        [
          {
            "node": "LineMessaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Text Message -2": {
      "main": [
        [
          {
            "node": "LineMessaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49426a67-2986-449c-abc6-ff376b4665a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c83110e9bc9eb7ad423f2ae744e8e93845b93107b301cc690bccc2bca83e5f3"
  },
  "id": "dOggYRHF9zcCeeDI",
  "tags": []
}