workflows/3_line_restaurant_ai_agent.json
{
  "name": "AI Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "ai-agent"
      },
      "type": "n8n-nodes-line-messaging-api.LineWebhook",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "id": "177d48d9-0035-4874-a756-19dc8d4d8d47",
      "name": "LineWebhook",
      "webhookId": "561f877b-f71c-4ec4-967a-a4136b63cbf6",
      "credentials": {
        "LineMessagingAPIAuth": {
          "id": "decgjIS19teJyh7O",
          "name": "LINE Messaging Auth account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "replyToken": "={{ $('LineWebhook').item.json.rawEvent.replyToken }}"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessagingAPI",
      "typeVersion": 1,
      "position": [
        1712,
        336
      ],
      "id": "880af653-3f9f-4a2d-a388-16840dad1abe",
      "name": "LineMessaging",
      "credentials": {
        "LineMessagingAPIAuth": {
          "id": "decgjIS19teJyh7O",
          "name": "LINE Messaging Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "# LINE Messaging API Webhook\n\nLINE Webhook คือทางเชื่อมที่ LINE ใช้ส่ง Events มาบอก Bot ของเราทันทีเมื่อมีคนทำอะไรกับ Bot เช่น ส่งข้อความ ส่งรูปภาพ วิดีโอ",
        "height": 944,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "5033a8f9-e513-4b9d-88b0-8c38744dea71",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Transform Message and AI Agent \nรับค่า event เพื่อ สร้าง AI ขึ้นมาช่วยตอบคำถาม",
        "height": 944,
        "width": 704,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        0
      ],
      "typeVersion": 1,
      "id": "9aa5b75a-0073-479d-9a89-2db84a83aeac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Response\nBuild LINE Messaging Response คือ ข้อความที่เราตอบกลับผู้ใช้ AI Chatbot ของเรา\n\n",
        "height": 944,
        "width": 576,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        0
      ],
      "typeVersion": 1,
      "id": "2e4572aa-9fe5-487c-a1b4-1c526c216d8c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rawEvent.message.text }}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "38079df7-f1cc-4b1a-b0d9-1af24ca28f1c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text=menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "55f5b70a-3871-49e4-a70a-c404de76fe54",
                    "leftValue": "={{ $json.rawEvent.message.text }}",
                    "rightValue": "นัดจอง",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text=นัดจอง"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        688,
        160
      ],
      "id": "c3814352-905c-45e9-b8c6-733867d1cc47",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.rawEvent.message.text }}",
        "options": {
          "systemMessage": "=You are AI personal Assitance "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1008,
        304
      ],
      "id": "9330ba1b-bd05-47b2-98eb-ece43cc580ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        528
      ],
      "id": "7f332822-b55f-4d59-95d4-afd754b2251c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zc2OHpLE5pswrsI8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.source.userId }}",
        "contextWindowLength": 200000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1104,
        528
      ],
      "id": "e4aa6e55-6fe7-4ff0-8ebb-01ebd886dfea",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "id"
        },
        "inputType": "binary",
        "options": {
          "maxOutputTokens": 300
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        848,
        704
      ],
      "id": "c5983eca-4d58-4f73-acac-110e962eb8f5",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "zc2OHpLE5pswrsI8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getMessageContent",
        "messageId": "={{ $json.rawEvent.message.id }}"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessagingAPI",
      "typeVersion": 1,
      "position": [
        672,
        704
      ],
      "id": "5c948b9f-53b5-4546-8c0a-46badf9c90de",
      "name": "Get Image Content",
      "credentials": {
        "LineMessagingAPIAuth": {
          "id": "decgjIS19teJyh7O",
          "name": "LINE Messaging Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "flex",
        "altText": "Menu",
        "contents": "{\n  \"type\": \"bubble\",\n  \"header\": {\n    \"type\": \"box\",\n    \"layout\": \"horizontal\",\n    \"contents\": [\n      {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"contents\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Gemini's Kitchen\",\n            \"color\": \"#ffffff\",\n            \"size\": \"xl\",\n            \"weight\": \"bold\",\n            \"style\": \"normal\",\n            \"decoration\": \"none\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"เมนูอร่อย ส่งตรงถึงบ้านคุณ\",\n            \"color\": \"#ffffffcc\",\n            \"size\": \"sm\"\n          }\n        ],\n        \"flex\": 3\n      },\n      {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"contents\": [\n          {\n            \"type\": \"image\",\n            \"url\": \"https://images.icon-icons.com/1151/PNG/512/1486505264-food-fork-kitchen-knife-meanns-restaurant_81404.png\",\n            \"align\": \"end\",\n            \"size\": \"xs\",\n            \"aspectRatio\": \"1:1\"\n          }\n        ]\n      }\n    ],\n    \"paddingAll\": \"20px\",\n    \"background\": {\n      \"type\": \"linearGradient\",\n      \"angle\": \"0deg\",\n      \"endColor\": \"#005c97\",\n      \"startColor\": \"#363795\"\n    },\n    \"alignItems\": \"center\"\n  },\n  \"body\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"contents\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"เมนูแนะนำวันนี้\",\n        \"weight\": \"bold\",\n        \"size\": \"lg\"\n      },\n      {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"margin\": \"lg\",\n        \"spacing\": \"md\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"lg\",\n            \"contents\": [\n              {\n                \"type\": \"image\",\n                \"url\": \"https://www.maggi.co.th/sites/default/files/styles/home_stage_1500_700/public/srh_recipes/6b0473cc1841f2157e29700a56a5b8f0.jpg?h=e13068ac&itok=rBSnUiHj\",\n                \"aspectMode\": \"cover\",\n                \"aspectRatio\": \"16:9\",\n                \"size\": \"xxl\",\n                \"flex\": 2\n              },\n              {\n                \"type\": \"box\",\n                \"layout\": \"vertical\",\n                \"contents\": [\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"ข้าวกะเพราหมูสับ\",\n                    \"weight\": \"bold\",\n                    \"size\": \"md\"\n                  },\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"฿60\",\n                    \"size\": \"sm\",\n                    \"color\": \"#888888\",\n                    \"margin\": \"sm\"\n                  }\n                ],\n                \"flex\": 3\n              }\n            ]\n          },\n          {\n            \"type\": \"separator\"\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"lg\",\n            \"contents\": [\n              {\n                \"type\": \"image\",\n                \"url\": \"https://www.maggi.co.th/sites/default/files/styles/home_stage_1500_700/public/srh_recipes/6b0473cc1841f2157e29700a56a5b8f0.jpg?h=e13068ac&itok=rBSnUiHj\",\n                \"aspectMode\": \"cover\",\n                \"aspectRatio\": \"16:9\",\n                \"size\": \"xxl\",\n                \"flex\": 2\n              },\n              {\n                \"type\": \"box\",\n                \"layout\": \"vertical\",\n                \"contents\": [\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"ข้าวกะเพราหมูสับ\",\n                    \"weight\": \"bold\",\n                    \"size\": \"md\"\n                  },\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"฿60\",\n                    \"size\": \"sm\",\n                    \"color\": \"#888888\",\n                    \"margin\": \"sm\"\n                  }\n                ],\n                \"flex\": 3\n              }\n            ]\n          },\n          {\n            \"type\": \"separator\"\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"horizontal\",\n            \"spacing\": \"lg\",\n            \"contents\": [\n              {\n                \"type\": \"image\",\n                \"url\": \"https://www.maggi.co.th/sites/default/files/styles/home_stage_1500_700/public/srh_recipes/6b0473cc1841f2157e29700a56a5b8f0.jpg?h=e13068ac&itok=rBSnUiHj\",\n                \"aspectMode\": \"cover\",\n                \"aspectRatio\": \"16:9\",\n                \"size\": \"xxl\",\n                \"flex\": 2\n              },\n              {\n                \"type\": \"box\",\n                \"layout\": \"vertical\",\n                \"contents\": [\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"ข้าวกะเพราหมูสับ\",\n                    \"weight\": \"bold\",\n                    \"size\": \"md\"\n                  },\n                  {\n                    \"type\": \"text\",\n                    \"text\": \"฿60\",\n                    \"size\": \"sm\",\n                    \"color\": \"#888888\",\n                    \"margin\": \"sm\"\n                  }\n                ],\n                \"flex\": 3\n              }\n            ]\n          }\n        ]\n      }\n    ],\n    \"paddingAll\": \"xl\"\n  },\n  \"footer\": {\n    \"type\": \"box\",\n    \"layout\": \"horizontal\",\n    \"spacing\": \"sm\",\n    \"contents\": [\n      {\n        \"type\": \"button\",\n        \"style\": \"secondary\",\n        \"height\": \"sm\",\n        \"action\": {\n          \"type\": \"uri\",\n          \"label\": \"ดูเมนูทั้งหมด\",\n          \"uri\": \"https://example.com/full-menu\"\n        }\n      },\n      {\n        \"type\": \"button\",\n        \"style\": \"primary\",\n        \"height\": \"sm\",\n        \"action\": {\n          \"type\": \"uri\",\n          \"label\": \"สั่งเลย!\",\n          \"uri\": \"https://example.com/order\"\n        },\n        \"color\": \"#363795\"\n      }\n    ],\n    \"paddingAll\": \"xl\"\n  },\n  \"styles\": {\n    \"footer\": {\n      \"separator\": true\n    }\n  }\n}"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessageBuilder",
      "typeVersion": 1,
      "position": [
        1440,
        176
      ],
      "id": "3ca8bb21-b7f0-4d18-84b4-a19077fddf71",
      "name": "Build Flex Message"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessageBuilder",
      "typeVersion": 1,
      "position": [
        1440,
        384
      ],
      "id": "844da4a5-32b7-47af-89d0-5ea1e8a549b3",
      "name": "Build Text Message"
    },
    {
      "parameters": {
        "text": "={{ $json.content.parts[0].text }}"
      },
      "type": "n8n-nodes-line-messaging-api.LineMessageBuilder",
      "typeVersion": 1,
      "position": [
        1440,
        640
      ],
      "id": "a3a6b800-c3b5-49a1-a7e7-5c224cc84e0d",
      "name": "Build Text Message1"
    }
  ],
  "pinData": {},
  "connections": {
    "LineWebhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Get Image Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Build Flex Message",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Build Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Build Text Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Content": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Flex Message": {
      "main": [
        [
          {
            "node": "LineMessaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Text Message": {
      "main": [
        [
          {
            "node": "LineMessaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Text Message1": {
      "main": [
        [
          {
            "node": "LineMessaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be1195f4-01f5-4094-a64b-a0d414129fa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c83110e9bc9eb7ad423f2ae744e8e93845b93107b301cc690bccc2bca83e5f3"
  },
  "id": "deezGmUkNtd7UcKA",
  "tags": []
}